{% extends 'accounts/main.html' %}

{% block content %}
<h3 style="text-align: center;">Doluluk Oranı</h3>
<p style="text-align: center;">{{ request.user.university}}</p>
<div style="display: flex;justify-content: space-around;width: 100%;">
    <form action="{% url 'dolulukOraniForm' %}" method="POST">
        {% csrf_token %}
        <!-- <div class="form-group">
        <label for="exampleFormControlInput1">Bölüm</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Bölüm Seçiniz">
        </div> -->
        <div class="form-group">
          <label for="exampleFormControlSelect1">Fakülte:</label>
          <select class="form-control" id="fakulte" name="fakulte">
          </select>
          </div>
        <div class="form-group">
        <label for="exampleFormControlSelect1">Bölüm:</label>
        <select class="form-control" id="bolum" name="bolum">
          <option value='0' selected>Lütfen Bölüm Seçiniz</option>
        </select>
        </div>
        <!-- <div class="form-group">
        <label for="exampleFormControlSelect2">Burs Seviyesi:</label>
        <select class="form-control" id="burs">
        </select>
        </div> -->
        <!-- <div class="form-group">
        <label for="exampleFormControlSelect2">Example multiple select</label>
        <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        </div> -->
        <!-- <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div> -->
        <!-- <input class="btn btn-primary" type="submit" value="Sonuçları al"> -->
        <button type="submit" class="btn">Sonuçları Al</button>
    </form>
</div>

<script>
  var row = []
  var fakulte_list = []
  
  user = "{{user}}"
  university = "{{university}}"
    $.getJSON("/static/json/data_2021.json", function(json) {
        var bolum = "<option value='0' selected>Lütfen Bölüm Seçiniz</option>";
        var burs = "<option value='0' selected>Lütfen Burs Seçiniz</option>";
        var fakulte = "<option value='0' selected>Lütfen Fakülte Seçiniz</option>";
        // console.log(json)
        json.forEach((item) => {
          row.push(item)
          // console.log(item[2])
          // console.log(user)
          // console.log(university)
          if(item[2] == university){
            //console.log(item[2])
            // console.log(item[0])
            // console.log(item[0].split('('))
            // console.log(item[0].split('(')[0])
            //var bolum_split = item[0].split('(')[0]
            var fakulte_item = item[1]
            if(!fakulte_list.includes(fakulte_item)){
              fakulte += `<option value="${fakulte_item}">${fakulte_item}</option>`;
              fakulte_list.push(fakulte_item);
            }
          }
        });
        $(`#fakulte`).html(fakulte);
        //$(`#burs`).html(burs);
    });
  //   console.log("burs_list: ",burs_list)
  var bölüm_list = []
  var bolum = ""
  $('#fakulte').on('change', function() {
    for(let i in row){
      if (row[i][2] == university & row[i][1] == this.value & !bölüm_list.includes(row[i][0])){
        console.log(row[i])
        console.log(row[i][0])
        bolum += "<option value='"+row[i][0]+"'>"+row[i][0]+"</option>";
        bölüm_list.push(row[i][0]);
      }
    }
    $(`#bolum`).html(bolum);
  });
    //   console.log("burs_list: ",burs_list)
  </script>
{% endblock %}