{% extends 'accounts/main.html' %}

{% block content %}

<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>

<h2>Yeni bir Bölüm için Yerleştirme İstatistikleri</h2>
<p>{{ request.user.university}}</p>

<table>
  <tr>
    <th>Bölüm</th>
    <th>Fakülte</th>
    <th>Kontenjan</th>
    <th>{{tahmin_name}}</th>
  </tr>
  <tr>
    <td>{{bolum}}</td>
    <td>{{fakulte}}</td>
    <td>{{kontenjan}}</td>
    <td>{{result}}</td>
  </tr>
</table>

{% endblock %}